* {
      padding: 0;
      margin: 0;
}

.container {
      padding: 10px 1px;
      display: flex;
      flex-direction: column;
      gap: 10px;
}

.container .header h1 {
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .slide {
      max-height: 200px;
      height: 100%;
      width: 100%;
      align-items: center;
}

.container .slide .imgContainer img {
      height: 200px;
      width: 100%;
      flex-shrink: 0;
      border-radius: 3px;
}

.container .slide .Navigate {
      display: flex;
}

.container .slide .Navigate .prev,
.next {
      height: 35px;
      width: 35px;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      color: white;
      cursor: default;
      margin: 0 1px;
      position: absolute;
      top: 130px;
      font-size: 20px;
      transition: 1s ease;
      cursor: pointer;
}

.container .slide .Navigate .prev {
      left: 0;
      border-radius: 0 3px 3px 0;
}

.container .slide .Navigate .next {
      right: 0;
      border-radius: 3px 0 0 3px;

}

.container .slide .Navigate .prev:hover,
.next:hover {
      background-color: rgba(0, 0, 0, 0.100);
}

.container .slide .dotContainer {
      display: flex;
      justify-content: center;
      gap: 5px;
}

.dot {
      height: 15px;
      width: 15px;
      background-color: #bbb;
      border-radius: 50%;
      cursor: pointer;
}

.dot.active,
.dot:hover {
      background-color: #717171;
      /* background-color: rgba(0, 0, 0, 0.100); */
}














/* .slider-container {
      position: relative;
      max-width: 800px;
      margin: auto;
      overflow: hidden;
}

.slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
}

.slider img {
      width: 100%;
      flex-shrink: 0;
}

.prev,
.next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 16px;
      cursor: pointer;
}

.next {
      right: 0;
}

.prev {
      left: 0;
}

.dots-container {
      text-align: center;
      padding: 10px;
}

.dot {
      height: 15px;
      width: 15px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
}

.active-dot {
      background-color: #717171;
} */